@font-face {
	font-family: STL;
	src: url(SomeTimeLater.otf);
}
body {
	text-align:  ;
	font-family: STL;
}
a {
	color: #99ffff;
}
a:link, a:visited {
    background-color:#00ffff;
    color: black;
    padding: 14px 25px;
    text-align: center ;
    text-decoration: none;
    display: inline-block;
}
h1.ff {
	font-size: 80px;
}
