@font-face {
	font-family: STL;
	src: url(SomeTimeLater.otf);
}
body {
	text-align: center ;
	font-family: STL;
}
a {
	color: #99ffff;
}
body {
    background-image: url("bg11.gif");
    background-repeat: none ;

	background-attachment: fixed ;
	background-position: center ;
}
